#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loadingLogo {
    width: 500px; /* Tamaño del logo ajustado */
    height: auto;
    margin-bottom: 20px;
    animation: bounce 2s infinite; /* Animación de rebote */
    filter: drop-shadow(0 0 10px white); /* Sombra blanca */
}

.spinner {
    margin-top: 20px;
    border: 4px solid rgba(255, 255, 255, 0.2); /* Color del borde */
    border-radius: 50%;
    border-top: 4px solid white; /* Color del borde superior */
    width: 60px; /* Tamaño del spinner */
    height: 60px; /* Tamaño del spinner */
    animation: spin 1s linear infinite; /* Animación de giro */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
